<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=blocks.title%></title>
    <link href="css/reset.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <script type="text/javascript" src="js/dist/jquery.min.js"></script>
    <script type="text/javascript" src="js/dist/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/dist/moment-with-locales.js"></script>
    <script type="text/javascript" src="js/dist/lodash.min.js"></script>
    <script type="text/javascript" src="js/dist/react-with-addons.js"></script>
    <!-- <script type="text/javascript" src="js/dist/react-with-addons.min.js"></script> -->
    <script type="text/javascript" src="js/dist/reflux.js"></script>
    <!-- <script type="text/javascript" src="js/dist/reflux.min.js"></script> -->
    <script type="text/javascript" src="js/mess/mess_store.js"></script>
    <script type="text/javascript" src="js/mess/mess_component.js"></script>
    <script>
        <%if(user){%>
            window.user = '<%=user.username%>';
        <%}else{%>
            window.user = null;
        <%}%>
        window.oauth = '<%=oauth%>';
    </script>
</head>
<!--<body>-->
<!--<header>-->
    <!--<%-blocks.header%>-->
<!--</header>-->
<!--<section>-->
    <!--<h1><%=blocks.title%></h1>-->
<!--</section>-->
<!--<footer><%-blocks.footer%></footer>-->
<!--</body>-->
<%-body -%>
</html>